html {
  height: 100%;
}

body {
  width: 99%;
  height: 99%;
  display: flex;
  font-family: "Sample,Open Sans,sans-serif";
}

h1 {
  font-size: 34px;
  font-weight: 200;
  letter-spacing: 0.8px;
}

p {
  font-weight: 200;
  line-height: 1.3333;
  font-size: 18px;
  font-family: "Sample,Open Sans,sans-serif";
}

#para64, #para256 {
  text-align: center;
  line-height: 0.7;
}

#choicetext, #sizetext {
  font-weight: bold;
}

.leftcolumn, .rightcolumn {
  width: 48%;
  margin: 2%;
  display: inline-block;
}

.rightcontentsbox {
  margin: 2%;
}

#tablewrapper {
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

#tablewrapper td {
  text-align: right;
}

#wrapcontainer {
  margin-top: 20px;
}

td img {
  width: 202px;
  height: 415px;
  object-fit: cover;
}

.capacityimage64, .capacityimage256 {
  width: 45px;
  height: 45px;
  border-radius: 20%;
  position: relative;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  color: #000;
}

@font-face {
  font-family: "Sample,Open Sans,sans-serif";
  src: url("../fonts/sample-light.woff") format("opentype");
}

@font-face {
  font-family: "Sample-Bold,Open Sans,sans-serif";
  src: url("../fonts/sample-bold.woff") format("opentype");
}

#upfrontcost, #monthlycost {
  font-family: "Sample-Bold,Open Sans,sans-serif";
  color: #e60000;
  font-size: 22px;
  line-height: 1.2;
}

.colourgold, .coloursilver, .colourgrey {
  width: 45px;
  height: 45px;
  border-radius: 20%;
  position: relative;
  border: 1px solid #ccc;
  margin: auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), transparent 30%, rgba(0, 0, 0, 0.2));
}

.colourgold {
  background-color: rgb(248, 231, 220);
}

.coloursilver {
  background-color: rgb(225, 226, 227);
}

.colourgrey {
  background-color: rgb(35, 35, 36);
}

.colourgreyborder, .coloursilverborder, .colourgoldborder {
  border: 2px solid #00596a;
  border-radius: 24%;
  padding: 2px;
  border-color: white;
}

.border64, .border256 {
  border: 2px solid #00596A;
  border-radius: 24%;
  padding: 2px;
  border-color: white;
}

#vlcell {
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #CDCDCD;
}

#prices {
  margin-top: 40px;
  background-color: #F4F4F4;
}

#prices p {
  margin-left: 19px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#rightcell {
  width: 80%;
}

/* settings for smaller screen widths */

@media only screen and (max-width: 800px) {

  #tablewrapper {
    margin: auto;
  }

  .rightcolumn {
    display: contents;
  }

  #tablewrapper td {
    text-align: center;
    vertical-align: initial;
    padding-top: 20px;
  }

  .leftcolumn {
    margin: 0;
  }

}

@media only screen and (max-width: 672px) {

  #tablewrapper {
    margin: auto;
  }

  body {
    display: block;
  }

  .rightcolumn {
    display: contents;
  }

  .leftcolumn {
    margin: auto;
    width: 100%;
  }

  #tablewrapper td {
    text-align: center;
    vertical-align: initial;
    padding-top: 30px;
  }

}